

<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Manuel Grid</h2>
            <h4>manuel@gmail.com</h4>
        </div>
        <img src="https://image.shutterstock.com/image-photo/closeup-portrait-handsome-happy-young-600w-182229962.jpg" alt="Manuel">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>ERP Solution</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="onShowButton()">Finance</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Inventory</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Human Resource</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Ledger Report
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Balance Sheet
    </a>
    
   
</mat-nav-list>

<div>
    <app-finance-dashboard></app-finance-dashboard>
  </div>

