<jqxWindow #windowReference
            [width]="500" [height]="height" [autoOpen]="true" [isModal]="false">
            <div>
                <img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/account.svg' alt="Accounts" width="25" /><span>Accounts</span>
            </div>
            <div style='overflow: hidden;' id='windowContent'>
                <jqxButton #hideWindowButton
                    style="float: left; margin-left: 3px;"
                    (onClick)="closeWindow()"
                    [width]="80">
                    <span>Close</span>
                </jqxButton>
            </div>
</jqxWindow>