<jqxWindow #windowReference
            [width]="800" [height]="height" [autoOpen]="true" [isModal]="false">
            <div>
                <img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/account.svg' alt="Accounts" width="20" /><span>Accounts</span>
            </div>
            <div style='overflow: hidden;' id='windowContent'>
                <div style="height: '100%';">                   
                    <jqxMenu #menuReference [width]="getMenuWidth()" [height]="35">
                        <ul>
                            <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/group.svg' alt="Group" width="20" /><a (click)="closeWindow()">Groups</a></li>
                            <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/delete.svg' alt="Delete" width="15" /><a href="#Home">Delete</a></li>
                            <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/exit.svg' alt="Exit" width="20" /><a (click)="closeWindow()">Close</a></li>
                        </ul>
                    </jqxMenu>
                    <jqxDockingLayout #dockingLayoutReference [width]="'100%'" [height]="'93%'" [layout]="layout">

                        <!--documentGroup-->
                            <div data-container="Document1Panel">
                                
                                
                            </div>
                            <div data-container="Document2Panel">
                                
                            </div>
                            <div data-container="Document3Panel">
                                
                            </div>
                            
                            <!--right tabbedGroup-->
                            <div data-container="ChartPanel">
                                
                            </div>
                            <div data-container="VATPanel">
                                
                            </div>
                            <div data-container="HelpPanel" >
                                
                            </div>
                              
                    </jqxDockingLayout>
                </div>                
            </div>
</jqxWindow>