<jqxWindow #windowReference
            [width]="800" [height]="height"  [autoOpen]="true" [isModal]="false" [resizable]="false">
            <div>
                <img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/account.svg' alt="Accounts" width="20" /><span>Accounts</span>
            </div>
            <div style='overflow: hidden;' id='windowContent'>            
                <div style="height: '100%';">                   
                    <jqxMenu #menuReference [width]="getMenuWidth()" [height]="35">
                        <ul>
                            <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/save.svg' alt="Group" width="20" /><a (click)="closeWindow()">Save</a></li>
                            <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/reset.svg' alt="Delete" width="20" /><a href="#Home">Reset</a></li>                            
                            <ul style="float: right;">
                                <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/group.svg' alt="Group" width="20" /><a (click)="closeWindow()">Groups</a></li>
                                <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/delete.svg' alt="Delete" width="15" /><a href="#Home">Delete</a></li>
                                <li><img style='float: left; margin-right: 5px;' src='./../../../../assets/images/functional/exit.svg' alt="Exit" width="20" /><a (click)="closeWindow()">Close</a></li>                            
                            </ul>   
                        </ul>                                                                                                 
                    </jqxMenu>
                    <div style="display: grid; grid-template-columns: auto 100px; height: 528px; ">
                        <div style="border: 1px solid red;">

                        </div>
                        <div>
                            <jqxDockingLayout #dockingLayoutReference style="float: right;" [width]="100" [height]="'100%'" [layout]="layout">
                        
                                <!--right tabbedGroup-->
                                <div data-container="ChartPanel">
                                   
                                </div>
                                <div data-container="VATPanel">
                                    
                                </div>
                                <div data-container="HelpPanel" >
                                    
                                </div>
                                  
                            </jqxDockingLayout>   
                        </div>

                    </div>
                     
                </div>                             
            </div>
</jqxWindow>