
* {    
    font-size: 14px;
}

table {        
    width: 100%;  
    box-sizing: border-box;        
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 2px;
}

.container {
    margin: 2px;
    padding: 2px;
}

.panel {
    margin: 5px 0 5px;
    padding: 5px;
    border: 1px solid lightgray; 
    border-radius: 3px;
}

.compulsory-indicator {
    color: red;
    margin-left: 2px;
}

/*applied to the window’s content*/
.jqx-window-content {
    
    padding: 0px;
    
}
/*applied to the window’s content when the window is disabled*/
.jqx-window-content-disabled {
    
    padding: 0px;
}
