
* {    
    font-size: 14px;
}

table { 
    box-sizing: border-box;   
    width: 100%;          
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.2em;
    position: relative;
}

.container {
    margin: 0.2em;
    padding: 0.2em;
}

.panel {
    margin: 0.5em 0 0.5em;
    border: 0.1em solid lightgray; 
    border-radius: 0.2em;
}

.compulsory-indicator {
    color: red;
    margin-left: 0.2em;
}

/*applied to the window’s content*/
.jqx-window-content {
    
    padding: 0px;
    
}
/*applied to the window’s content when the window is disabled*/
.jqx-window-content-disabled {
    
    padding: 0px;
}
