* {
  box-sizing: border-box;
}

table {
    width: 100%;
  }

mat-card {
  height: 150px;
}


#mainwindow {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  border-color: lightgray;    
}

#menubar {
  display: grid;
  grid-template-columns: 30px 80px auto 20px;
  background-color:#3f51b5;
  height: 25px;    
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgray;
}

#menubar > div {
  font-size: medium;
  color: white;
  //border:1px solid red;
}